body {
  padding: 0;
  margin: 0;
}

.secao {
  width: 100%;
  height: 100vh;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.content {
  overflow: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.content div {
  scroll-snap-align: center;
}